<app-data-card [title]="'LOAN APPLICATION'"
               [actionLabel]="'Submit'"
               (cardActionEmitter)="submit($event)"
               [body]="cardContent">
</app-data-card>
<app-decision-modal [(displayModal)]="displayDecisionModal"
                    [decision]="decision"/>
<ng-template #cardContent>
  <app-id-code-selector [(idCodeCtrl)]="idCodeCtrl"
                        [placeholder]="'id.code.dropdown.select'"
                        [header]="'id.code.dropdown.header'"/>
  <br>
  <app-range-slider [header]="'slider.label.money.amount'"
                    [suffix]="'label.currency.euro'"
                    [step]="100"
                    [(sliderCtrl)]="moneyCtrl"
                    [min]="config.minMoneyAmount"
                    [max]="config.maxMoneyAmount"/>
  <br>
  <app-range-slider [header]="'slider.label.period'"
                    [suffix]="'label.months'"
                    [(sliderCtrl)]="monthCtrl"
                    [min]="config.minMonthsNumber"
                    [max]="config.maxMonthsNumber"/>
</ng-template>
