@import "theme.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";

body, html {
  font-size: 150%;
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 20px 50px;
  background-color: var(--primary-background-color);
  color: white !important;
}

.align-right {
  float: right;
}

.align-center {
  margin-left: 10%;
}

.p-component {
  color: var(--surface-a);
}

a {
  color: var(--surface-a);
}

a:hover {
  color: var(--text-color-secondary);
}

.value-text {
  color: var(--extra-color);
}

.p-card {
  box-shadow: none;
  border: none
}


